@page "/info"
@inject NavigationManager _navigation

<button class="btn btn-warning" @onclick="Return"> Повернутися</button>
<div class="info">
    <h1>Versions info 🛈</h1>
    <div>
        <ul>
            <h2>v1.0</h2>
            <li>Перша робоча версія генератора</li>
        </ul>
        <ul>
            <h2>v2.0</h2>
            <li>Добавлено збереження в localstorage, для збереження інформації навіть при перезавантаженні сторінки</li>
            <li>Обновлено дизайн</li>
        </ul>
        <ul>
            <h2>v2.1</h2>
            <li>Виправлено баг, при якому вказувався невірний день при генерації списку</li>
        </ul>
        <ul>
            <h2>v2.2</h2>
            <li>Добавлено сторінку з інформацієюю про версії</li>
            <li>Добавлено зміну фону на зелений, при заповнені всіх полів</li>
            <li>Добавлено іконку сайту</li>
        </ul>
    </div>
</div>

@code
{
    private void Return() => _navigation.NavigateTo("");
}